In [1]:
import pandas as pd 
import numpy as np
from sklearn.cluster import KMeans

In [3]:
batting=pd.read_csv("/home/gajendra/Documents/Data_Analytics_IPL/web_scraping/batting/stats_batting_2.csv")
bowling=pd.read_csv("/home/gajendra/Documents/Data_Analytics_IPL/web_scraping/bowling/stats_bowling_1.csv")

batting.head()
# bowling.head()

,player_name,runs_scored,balls_faced,times_out,batting_avg,strike_rate
0,A Ashish Reddy,280,193,15,18.67,145.08
1,A Chopra,53,71,6,8.83,74.65
2,A Choudhary,25,20,1,25.00,125.00
3,A Flintoff,62,53,2,31.00,116.98
4,A Kumble,35,47,3,11.67,74.47

In [9]:
batting.dropna(inplace=True)
bowling.dropna(inplace=True)

In [11]:
FEATURES_COL=["runs_scored","balls_faced","times_out","batting_avg","strike_rate"]
FEATURES_COL_BOWL=["runs_conceded","wickets_taken","overs_bowled","bowling_average","economy_rate","bowling_strike_rate"]

In [12]:
batting[FEATURES_COL] = batting[FEATURES_COL].astype(float)
bowling[FEATURES_COL_BOWL]=bowling[FEATURES_COL_BOWL].astype(float)

In [13]:
kmeans = KMeans(n_clusters=10)
kmeans.fit(batting[FEATURES_COL])
batting["cluster"] = kmeans.labels_

kmeans = KMeans(n_clusters=7)
kmeans.fit(bowling[FEATURES_COL_BOWL])
bowling["cluster"] = kmeans.labels_

In [14]:
bowling.head()

,player_name,runs_conceded,wickets_taken,overs_bowled,bowling_average,economy_rate,bowling_strike_rate,cluster
0,A Ashish Reddy,396.0,18.0,43.4,22.00,9.12,14.47,0
1,A Chandila,242.0,11.0,39.0,22.00,6.21,21.27,0
2,A Choudhary,144.0,5.0,16.5,28.80,8.73,19.80,5
4,A Flintoff,105.0,2.0,11.0,52.50,9.55,33.00,5
5,A Kumble,1058.0,45.0,160.5,23.51,6.59,21.40,4

In [15]:
batting_cluster=batting[['player_name','cluster']]
bowling_cluster=bowling[['player_name','cluster']]

In [17]:
batting_cluster.to_csv("/home/gajendra/Documents/Data_Analytics_IPL/Clustering/batting_cluster.csv")
bowling_cluster.to_csv("/home/gajendra/Documents/Data_Analytics_IPL/Clustering/bowling_cluster.csv")