In [1]:
# scraping the data from the web
import pandas as pd
import numpy as np

from urllib.request import urlopen

from bs4 import BeautifulSoup
page_list=[
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4343;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4347;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4344;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=5845;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4342;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4788;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4341;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4346;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4787;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4345;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=5843;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=4340;type=trophy",
        "http://stats.espncricinfo.com/ci/engine/records/averages/bowling.html?id=117;team=5143;type=trophy"
            ]
names = [       
    "Chennai Super Kings","Deccan Chargers","Delhi Daredevils","Gujarat Lions","Kings XI Punjab",
    "Kochi Tuskers Kerala","Kolkata Knight Riders","Mumbai Indians","Pune Warriors","Rajasthan Royals",
    "Rising Pune Supergiants","Royal Challengers Bangalore","Sunrisers Hyderabad"
    ]
ext = ".csv"
k=0
for i in page_list:
    page = urlopen(i)
    soup = BeautifulSoup(page)
    right_table=soup.find('table', class_='engineTable')
    l = []
    th=right_table.find_all("th")
    head=[hd.text for hd in th]
    for tr in right_table.findAll("tr"):
        td = tr.find_all('td')
        row = [tr.text for tr in td]
        l.append(row)
    df=pd.DataFrame(l)
    df.columns=head
    df.to_csv(names[k]+ext,index=False)
    k+=1
    
#after manual cleaning, concatenating the files 
# from glob import glob
# filenames=glob("*.csv")
# headers=["player_name","matches_played","innings_bowled","overs_bowled","maidens_earned","runs_conceded",
#          "wickets_taken","best_innings_bowling","bowling_average","economy_rate","bowling_strike_rate",
#          "four_wkts_in_an_inns","five_wkts_in_an_inns","catches_taken","stumpings_made"]   

# dfs=[pd.read_csv(x,names=headers) for x in filenames]
# combined=pd.concat(dfs)
# combined.to_csv("all_teams_bowling.csv",index=False)

/usr/lib/python3/dist-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /usr/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [2]:
from glob import glob
filenames=glob("*.csv")
dfs=[]
headers=["player_name","matches_played","innings_bowled","overs_bowled","maidens_earned","runs_conceded",
         "wickets_taken","best_innings_bowling","bowling_average","economy_rate","bowling_strike_rate",
         "four_wkts_in_an_inns","five_wkts_in_an_inns","catches_taken","stumpings_made"]   
for i in filenames:
    if(i[:-4] in names):
        df1=pd.read_csv(i)
        df1=df1.iloc[1:]
        if 'Span' in df1.columns:
            df1.drop(columns=['Span'],inplace=True)
        df1.columns=headers    
        print(df1.shape)
        dfs.append(df1)

combined=pd.concat(dfs)
combined.to_csv("all_teams_bowling.csv",index=False)
combined.shape

(106, 15)
(107, 15)
(62, 15)
(29, 15)
(46, 15)
(61, 15)
(120, 15)
(34, 15)
(99, 15)
(97, 15)
(100, 15)
(20, 15)
(72, 15)

(953, 15)

In [3]:
df = pd.read_csv("all_teams_bowling.csv")
df.shape

(953, 15)

In [4]:
i = df[df.runs_conceded=='-'].index #find the bowlers who haven't conceded any runs

In [5]:
df.drop(i,inplace=True) #remove the bowlers who haven't conceded any runs

In [6]:
#change the data types to actual data types
#eg:  runs_conceded was object(string) but it should be int
df['runs_conceded']=df['runs_conceded'].astype('int64')
df['wickets_taken']=df['wickets_taken'].astype('int64')
df['overs_bowled']=df['overs_bowled'].astype('float64')

In [7]:
#group the multiple data points of a player and sum the attributes
res = df.groupby('player_name').agg({'runs_conceded':'sum','wickets_taken':'sum','overs_bowled':'sum'}).reset_index()

In [8]:
#stats cal
res['bowling_average']=(res['runs_conceded']/res['wickets_taken']).round(2)
res['economy_rate']=(res['runs_conceded']/res['overs_bowled']).round(2)
res['bowling_strike_rate']=((res['overs_bowled']*6)/res['wickets_taken']).round(2)

In [9]:
res

,player_name,runs_conceded,wickets_taken,overs_bowled,bowling_average,economy_rate,bowling_strike_rate
0,A Ashish Reddy,396,18,43.4,22.000000,9.12,14.470000
1,A Chandila,242,11,39.0,22.000000,6.21,21.270000
2,A Choudhary,144,5,16.5,28.800000,8.73,19.800000
3,A Dananjaya,47,0,4.0,inf,11.75,inf
4,A Flintoff,105,2,11.0,52.500000,9.55,33.000000
5,A Kumble,1058,45,160.5,23.510000,6.59,21.400000
6,A Mishra,3525,146,476.5,24.140000,7.40,19.580000
7,A Mithun,472,7,48.0,67.430000,9.83,41.140000
8,A Nehra,2495,106,317.6,23.540000,7.86,17.980000
9,A Nel,31,1,3.0,31.000000,10.33,18.000000
10,A Singh,620,28,78.5,22.140000,7.90,16.820000
11,A Symonds,674,20,87.5,33.700000,7.70,26.250000
12,A Uniyal,66,2,6.0,33.000000,11.00,18.000000
13,A Zampa,278,19,36.5,14.630000,7.62,11.530000
14,AA Chavan,326,8,41.2,40.750000,7.91,30.900000
15,AA Jhunjhunwala,129,1,14.1,129.000000,9.15,84.600000
16,AA Kazi,21,0,2.0,inf,10.50,inf
17,AA Noffke,40,1,4.0,40.000000,10.00,24.000000
18,AB Agarkar,1151,29,130.2,39.690000,8.84,26.940000
19,AB Dinda,2073,69,252.4,30.040000,8.21,21.950000
20,AB McDonald,261,11,31.0,23.730000,8.42,16.910000
21,AC Gilchrist,0,1,0.1,0.000000,0.00,0.600000
22,AC Thomas,406,14,52.3,29.000000,7.76,22.410000
23,AC Voges,76,0,9.0,inf,8.44,inf
24,AD Mascarenhas,356,19,51.2,18.740000,6.95,16.170000
25,AD Mathews,1079,27,131.5,39.960000,8.21,29.220000
26,AD Russell,1251,44,143.0,28.430000,8.75,19.500000
27,AF Milne,177,4,18.0,44.250000,9.83,27.000000
28,AG Murtaza,313,9,44.0,34.780000,7.11,29.330000
29,AJ Finch,67,1,7.1,67.000000,9.44,42.600000
...,...,...,...,...,...,...,...
347,TK Curran,118,6,10.1,19.670000,11.68,10.100000
348,TL Suman,197,6,25.0,32.830000,7.88,25.000000
349,TM Dilshan,366,5,45.1,73.200000,8.12,54.120000
350,TM Head,81,2,8.0,40.500000,10.12,24.000000
351,TP Sudhindra,136,1,11.4,136.000000,11.93,68.400000
352,TS Mills,153,5,17.5,30.600000,8.74,21.000000
353,Tejas Baroka,33,0,3.3,inf,10.00,inf
354,UT Yadav,3125,111,374.9,28.150000,8.34,20.260000
355,Umar Gul,184,12,22.3,15.330000,8.25,11.150000
356,V Kohli,368,4,41.5,92.000000,8.87,62.250000
357,V Pratap Singh,296,10,34.0,29.600000,8.71,20.400000
358,V Sehwag,235,6,22.4,39.170000,10.49,22.400000
359,V Shankar,77,1,6.0,77.000000,12.83,36.000000
360,VR Aaron,1219,38,140.4,32.080000,8.68,22.170000
361,VRV Singh,542,12,60.0,45.170000,9.03,30.000000
362,VS Malik,261,6,34.1,43.500000,7.65,34.100000
363,VS Yeligati,59,0,5.0,inf,11.80,inf
364,VY Mahesh,499,21,56.3,23.760000,8.86,16.090000
365,WA Mota,97,4,12.0,24.250000,8.08,18.000000
366,WD Parnell,701,26,95.2,26.960000,7.36,21.970000
367,WPUJC Vaas,355,18,47.0,19.720000,7.55,15.670000
368,Washington Sundar,377,12,50.0,31.420000,7.54,25.000000
369,Y Gnaneswara Rao,7,0,1.0,inf,7.00,inf
370,Y Nagar,125,4,11.0,31.250000,11.36,16.500000
371,Y Venugopal Rao,337,6,36.0,56.170000,9.36,36.000000
372,YA Abdulla,307,15,34.5,20.470000,8.90,13.800000
373,YK Pathan,1407,42,190.1,33.500000,7.40,27.160000
374,YS Chahal,1932,82,248.3,23.560000,7.78,18.170000
375,Yuvraj Singh,1077,36,144.5,29.920000,7.45,24.080000
376,Z Khan,2782,102,366.4,27.270000,7.59,21.550000

In [10]:
res['bowling_average']=res['bowling_average'].replace(np.inf,np.nan)
res['bowling_strike_rate']=res['bowling_strike_rate'].replace(np.inf,np.nan)

In [11]:
res

,player_name,runs_conceded,wickets_taken,overs_bowled,bowling_average,economy_rate,bowling_strike_rate
0,A Ashish Reddy,396,18,43.4,22.00,9.12,14.47
1,A Chandila,242,11,39.0,22.00,6.21,21.27
2,A Choudhary,144,5,16.5,28.80,8.73,19.80
3,A Dananjaya,47,0,4.0,NaN,11.75,NaN
4,A Flintoff,105,2,11.0,52.50,9.55,33.00
5,A Kumble,1058,45,160.5,23.51,6.59,21.40
6,A Mishra,3525,146,476.5,24.14,7.40,19.58
7,A Mithun,472,7,48.0,67.43,9.83,41.14
8,A Nehra,2495,106,317.6,23.54,7.86,17.98
9,A Nel,31,1,3.0,31.00,10.33,18.00
10,A Singh,620,28,78.5,22.14,7.90,16.82
11,A Symonds,674,20,87.5,33.70,7.70,26.25
12,A Uniyal,66,2,6.0,33.00,11.00,18.00
13,A Zampa,278,19,36.5,14.63,7.62,11.53
14,AA Chavan,326,8,41.2,40.75,7.91,30.90
15,AA Jhunjhunwala,129,1,14.1,129.00,9.15,84.60
16,AA Kazi,21,0,2.0,NaN,10.50,NaN
17,AA Noffke,40,1,4.0,40.00,10.00,24.00
18,AB Agarkar,1151,29,130.2,39.69,8.84,26.94
19,AB Dinda,2073,69,252.4,30.04,8.21,21.95
20,AB McDonald,261,11,31.0,23.73,8.42,16.91
21,AC Gilchrist,0,1,0.1,0.00,0.00,0.60
22,AC Thomas,406,14,52.3,29.00,7.76,22.41
23,AC Voges,76,0,9.0,NaN,8.44,NaN
24,AD Mascarenhas,356,19,51.2,18.74,6.95,16.17
25,AD Mathews,1079,27,131.5,39.96,8.21,29.22
26,AD Russell,1251,44,143.0,28.43,8.75,19.50
27,AF Milne,177,4,18.0,44.25,9.83,27.00
28,AG Murtaza,313,9,44.0,34.78,7.11,29.33
29,AJ Finch,67,1,7.1,67.00,9.44,42.60
...,...,...,...,...,...,...,...
347,TK Curran,118,6,10.1,19.67,11.68,10.10
348,TL Suman,197,6,25.0,32.83,7.88,25.00
349,TM Dilshan,366,5,45.1,73.20,8.12,54.12
350,TM Head,81,2,8.0,40.50,10.12,24.00
351,TP Sudhindra,136,1,11.4,136.00,11.93,68.40
352,TS Mills,153,5,17.5,30.60,8.74,21.00
353,Tejas Baroka,33,0,3.3,NaN,10.00,NaN
354,UT Yadav,3125,111,374.9,28.15,8.34,20.26
355,Umar Gul,184,12,22.3,15.33,8.25,11.15
356,V Kohli,368,4,41.5,92.00,8.87,62.25
357,V Pratap Singh,296,10,34.0,29.60,8.71,20.40
358,V Sehwag,235,6,22.4,39.17,10.49,22.40
359,V Shankar,77,1,6.0,77.00,12.83,36.00
360,VR Aaron,1219,38,140.4,32.08,8.68,22.17
361,VRV Singh,542,12,60.0,45.17,9.03,30.00
362,VS Malik,261,6,34.1,43.50,7.65,34.10
363,VS Yeligati,59,0,5.0,NaN,11.80,NaN
364,VY Mahesh,499,21,56.3,23.76,8.86,16.09
365,WA Mota,97,4,12.0,24.25,8.08,18.00
366,WD Parnell,701,26,95.2,26.96,7.36,21.97
367,WPUJC Vaas,355,18,47.0,19.72,7.55,15.67
368,Washington Sundar,377,12,50.0,31.42,7.54,25.00
369,Y Gnaneswara Rao,7,0,1.0,NaN,7.00,NaN
370,Y Nagar,125,4,11.0,31.25,11.36,16.50
371,Y Venugopal Rao,337,6,36.0,56.17,9.36,36.00
372,YA Abdulla,307,15,34.5,20.47,8.90,13.80
373,YK Pathan,1407,42,190.1,33.50,7.40,27.16
374,YS Chahal,1932,82,248.3,23.56,7.78,18.17
375,Yuvraj Singh,1077,36,144.5,29.92,7.45,24.08
376,Z Khan,2782,102,366.4,27.27,7.59,21.55

In [12]:
res.to_csv('stats_bowling_1.csv',index=None)

In [13]:
res.shape

(377, 7)